{# django #}
{% extends "base.html" %}
{% block content %}
  <main class="container m-auto">
    <div class="small-centered-container">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 class="text-center">Log in</h1>
        <div>{{ form.as_p }}</div>
        <div>
          <input type="submit" value="login">
          <a href="{% url 'password_reset' %}">Lost password?</a>
          <input type="hidden" name="next" value="{{ next }}">
        </div>
      </form>
    </div>
  </main>
{% endblock %}
