# Standardize editor settings for the entire project
# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

# CSS, HTML, and JavaScript
[*.{css,html,js,json}]
indent_size = 2

# Python config
[*.py]
indent_size = 4
