# Cache files
.mypy_cache
__pycache__
.cache
.ropeproject

# Command history
.bash_history
.python_history

# Local settings
docker-compose.override.yml

# Local VS Code settings
.vscode/**/*
# Allow these files
!.vscode/settings.json

# Node.js
node_modules
