{# django #}
{% extends "base.html" %}
{% block content %}
  <main class="container m-auto">
    <div class="small-centered-container">
      <form method="post">
        {% csrf_token %}
        <div>
          <h1 class="text-center">Change Password</h1>
        </div>
        {% if form.errors %}
          <div>
            <p>Please correct the errors below.</p>
            <p>{{ form.errors }}</p>
          </div>
        {% endif %}
        <div>
          {{ form.as_p }}
          <input type="submit" value="Reset Password">
        </div>
      </form>
    </div>
  </main>
{% endblock %}
