{% load wagtailcore_tags %}
<footer class="bg-primary text-white p-4 lg:p-8 text-center mt-16">
  <div class="text">{{ footer.text|richtext }}</div>
  {% with footer.footer_links.all as footer_links %}
    {% if footer_links %}
      <ul class="footer-links">
        {% for link in footer_links %}
          <li class="sm:inline">
            <a href="{{ link.url }}">{{ link.text }}</a>
          </li>
          {% if not forloop.last %}<span class="hidden sm:inline">|</span>{% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</footer>
