{% load wagtailimages_tags wagtailcore_tags %}
<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
    <div class="mx-auto flex max-w-2xl flex-col items-end justify-between gap-16 lg:mx-0 lg:max-w-none lg:flex-row">
        <div class="w-full lg:max-w-lg lg:flex-auto">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ value.title }}</h2>
            <p class="mt-6 text-xl leading-8 text-gray-600">{{ value.lead_paragraph}}</p>
            {% image value.image width-400 as image %}
            <img {{ image.attrs }}
                class="mt-16 aspect-[6/5] w-full rounded-2xl bg-gray-50 object-cover lg:aspect-auto lg:h-[34.5rem]">
        </div>
        <div class="w-full lg:max-w-xl lg:flex-auto">
            <h3 class="sr-only">{{ value.list_title }}</h3>
            <ul class="-my-8 divide-y divide-gray-100">
                {% for item in value.content_list %}

                <li class="py-8">
                    <dl class="relative flex flex-wrap gap-x-3">
                        <dt class="sr-only">{{ value.list_type }}</dt>
                        <dd class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900">
                            <a href="{% pageurl item.link %}">
                                {{item.title}}
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </dd>
                        <dt class="sr-only">Description</dt>
                        <dd class="mt-2 w-full flex-none text-base leading-7 text-gray-600">{{ item.lead_paragraph }}
                        </dd>
                        <!-- The below could be added back in time if we do more to parameterise the list -->
                        <!-- <dt class="sr-only">Salary</dt>
                        <dd class="mt-4 text-base font-semibold leading-7 text-gray-900">$75,000 USD</dd>
                        <dt class="sr-only">Location</dt>
                        <dd class="mt-4 flex items-center gap-x-3 text-base leading-7 text-gray-500">
                            <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 flex-none fill-gray-300" aria-hidden="true">
                                <circle cx="1" cy="1" r="1" />
                            </svg>
                            San Francisco, CA
                        </dd> -->
                    </dl>
                </li>

                {% endfor %}
            </ul>
            <div class="mt-8 flex border-t border-gray-100 pt-8">
                <a href="{% pageurl value.more_list_link %}"
                    class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500">{{value.more_list_text}}
                    <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</div>
